:root {
    --light: #709775;
    --accent: #ccd5ae;
    --dark: #354f52;
    --background: #fefae0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0.625rem; 
    color: var(--dark);
    font-weight: 700;
    line-height: 1.1;
}

body {
    background-color: var(--background);
}

a{
    text-decoration: none;
    color: var(--dark);
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

header {
    background-color: var(--dark);
}

.container h1 {
    background-color: var(--light);
    width: 100%;
    text-align: center;
}

.container nav {
    display: flex;
    flex-wrap: wrap;
}

.container .nav-links {
    width: 100%;
    color: var(--dark);
    background-color: var(--accent);
    text-align: center;
    margin: 3px;
    border-radius: 500px;
}

#cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; 
    gap: 10px;
    color: var(--dark);
}

#cards-container a{
    background-image: linear-gradient( to bottom right, var(--light), var(--dark)) ;
    border: var(--accent) solid;
    border-radius: 30px;
    position: relative;
    flex: 1 1 auto;
    min-width: 200px;
}


#cards-container a ul {
    padding-left: 10%;
    padding-right: 5%;
    max-width: fit-content;
    text-align: right;
    background-color: var(--accent);
    list-style-type: none;
    flex-shrink: 1;
    border-radius: 0 5px 5px 0;
}

#cards-container a ul h3 {
    margin-bottom: 5px;
}

#first-card {
    width: 80%;
    flex: 2 2 auto;
    padding-top: 90px;
} 


.container .contact-container {
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
}

.container .contact-links {
    width: fit-content;
    color: var(--dark);
    background-color: var(--background);
    font-weight: bold;
    text-align: center;
    margin: 10px;
    flex: 0 0 auto;
}


#hero {
    width: 100%;
    height: 200px;
    background-image: url("../images/hill-country-camera-c9_dagULOMw-unsplash.jpg") ;
    background-position: 0 95%;
    background-size: cover;
}

#about-me p{
    margin: 30px;
    text-align: left;
    max-width: 80%;
}

#about-me img {
    width: 20%;
    border-radius:100px;
    margin: 10px;
}

@media screen and (min-width: 768px) {
    .container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .align-center {
        align-items: center;
    }

    .justify-between {
        justify-content: space-between;
    }

    .container h1 {
        width: auto;
        padding-left: 50px;
        padding-right: 5px;
    }

    .container nav {
        display: flex;
        flex-direction: row; 
        flex-wrap: nowrap;
    }

    .container .nav-links {
        width: auto; 
        color: var(--light);
        background-color: var(--dark);
        margin: 10px;
    }

    .container h2 {
        align-self: stretch;
        margin-left: 200px;
        width: 200px;
        padding: 10px;
        text-align: right;
        border-right: var(--light) solid;
        flex-shrink: 0; 
    }

    .container .contact-container {
        display: flex;
        justify-content: space-between;
        width: 60%;
    }
    .container .contact-links {
        font-size: 1.25em;
        flex: 0 0 auto;
    }
    
    #cards-container {
        margin-left: 50px;
        margin-top: 0.625rem;
        padding: 10px;
    }

    #cards-container a{
        min-width: 200px;
    }

    #first-card {
        max-width: 700px;
        flex-grow: 2; 
    } 

    #about-me img {
        width: 110px;
    }

    #about-me p {
        max-width: 80%;
    }
}
/* @media screen and (min-width: 900px) {
    #hero {
        height: 50px; 
    }
} */